@font-face {
    font-family: tt-lake-bold;
    src: url(/public/fonts/TT-Lakes-Compressed-Bold/TT-Lakes-Compressed-Bold.ttf);
}
.body {
    font-family: tt-lake-bold !important;
}
.tt-lake-bold{
    font-family: tt-lake-bold !important;
}

.bg-color-dargblue{
    background-color: #4479AF !important;
}

.tab-selected{
    background-color: #4479AF !important;
}
.lightColorBlue{
    background-color: #A6DAF1;
}